#stories-bar{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    overflow-x: auto;
    width: auto;
}

.story{
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 40px;
    background:linear-gradient(45deg,purple,violet);
    padding: 4px;
    flex-shrink: 0;
    cursor: pointer;
}
.story-content{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    
}
.story-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 4px;
    border-radius: 50%;
}