#preview {
  height: 100vh;
  width: 100vw;
  inset: 0;
  position: fixed;
  z-index: 2;
  background-color: black;
}
#preview-content {
  width: 100%;
  max-width: 710px;
  height: 100%;
  margin: auto;
  background-color: rgb(46, 46, 46);
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#preview-content .image-wrapper {
  position: absolute;
  z-index: 1;
  inset: 0;
  height: 100%;
  width: 100%;
}

#preview-content .image-wrapper img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: fadeIn 0.5s ease-in-out;
  z-index: 1;
}

#preview-content .image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background:linear-gradient(black,rgba(255, 255, 255, 0));
  z-index: 2;
}
#close-preview {
  font-size: 25px;
  background-color: whitesmoke;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}
@keyframes fillBar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
#progress-bar-wrapper {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0rem;
  position: relative;
  z-index: 2;
}
#progress-bar {
  height: 4px;
  background: #868686;
  border-radius: 2px;
  overflow: hidden;
}
.progress-fill {
  height: 100%;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  animation: fillBar 5s linear forwards;
}
#profile-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
#profile-header > div {
  display: flex;
  align-items: center;
}
#profile-header button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgb(117, 117, 117);
  }
}
#profile-header .image-section {
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}
#profile-header .image-section  img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#profile-header .info-section h4 {
  font-size: 1rem;
  color: white;
}
#profile-header .info-section p {
  font-size: 0.8rem;
  color: rgb(230, 230, 230);
}

@media screen and (max-width:710px) {
  #close-preview {
  top: 42px;
  right: 1rem;
  }
}
